`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Actionable emails e.g. reset password</title>


<style type="text/css">
img {
max-width: 100%;
}
body {
-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
}
body {
background-color: #f6f6f6;
}
@media only screen and (max-width: 640px) {
  body {
    padding: 0 !important;
  }
  h1 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h2 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h3 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h4 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .container {
    padding: 0 !important; width: 100% !important;
  }
  .content {
    padding: 0 !important;
  }
  .content-wrap {
    padding: 10px !important;
  }
  .invoice {
    width: 100% !important;
  }
}
</style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">

<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
		<td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
			<div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;" bgcolor="#fff"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
							<meta itemprop="name" content="Confirm Email" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" /><table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
										<img src="data:image/jpg;base64, iVBORw0KGgoAAAANSUhEUgAAAFEAAAAtCAYAAADWb4eMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAW2SURBVHgB7Zl9TFVlHMe/56KFytV7W1I21GNi
aFC7zLcaDi9uijXoItJKZ8AdujZHA5ZutcKs/qiNLZC1XnDtQgEux5tQLLayA5WUw6CtVX/oPGA0
hEQClSZwT89zXuB6uefee+7LYHk+22/PPb9zn+dyvjy/5/d7ngPo6Ojo6Ojo6Ojo6OjMVxjcJQh/
O3LBGNIB51JoxWCoZsw5VWq3//ciCtcdLATGAQFWBAcPg5DCmO28+435KqKFmMmDv4fYCPxEGHJY
YWAaVcYKhBE4hT3Mcjvn6lREtBJj/RpEMl62cHEZnv+eNf7+rizgtwgHTjIjXYRURKwklgNt0FlR
RqwKoScoEcUQdjLdUJmBz+Y5sCDCgFMVWh95mhES2olKaBsQODTkKom9gfmGEyfhJYSnnE6c7+7F
0LUb077JSSdqGy6g/y+/VgsTppj3lItgRFQ4DgS9aLvDq1hISEyIEdv2cxfFlgp4sOgUit/5Eqeb
e/wbhBGMysdQiEgJ9WxMgRS67sYjBOyyrhfbq4NjYnv0eBO++/ES4tZGI3ffFmhlgY/77tk7l1gp
ZoeKVfa5xgIr+5cRM7v4e2Tj4Rkr1NGUnRUOHP6M5AIBO5PjkPzkWmzduBpNVQeRsGEFxscncK7r
MuJio1HzYTbMyxZDK75EdKcS0lpY4OEe9XOQkg1dsX2VFfS7dtwpJh3DW0als1GTiBMTU+jrHyZr
3T/4qYsXfWcb8vFo3ApwJJw3WVbim/p8kmgiEBmpVQ6JQHr5eggb/KvLrJCy8B5iTbIvVPXcNAsX
RqDjTAH4K8M4/3Mv+v4cxuqV96G57VcUvd6AJYvvwe4dG5Cfl4xVMeZAfiIgEVmEFgekWTkShrGn
YYlw1BS2JK4Wy5ybt26j/otfRNtIZuW+zE3I2J0AhvF/H6I1sWRAvZ5U0lo7sROQZlgiZpJCiux3
xySPS6HrJ48A1j1/oFn48NHT2P5MOZbfH4WkrQ+LfpvNhtjYWFzouYIjxxqx3VaOExWcv+WOTxEF
N2tU+V4lZh48l1ghpBBVEgg1TvbzHvqzcktFXgPPYgcFFbDgtXq0cX9gSdS9iDAweDE7Sbw3ODiI
trY2NDc3IzMzE1eHbqL8ZAeSiZgvvVqHrp4+r2OHosThib3pcs1CSi50vbuO2f8IFnPAx59+j6/O
/i5m4doPXhB9NEuvXxeNzs5O9Pb2Ij4+HiUlJeA4Dunp6eJ3Wr/+Dc8dqsTnZ7pVxw5WRA5SmPLy
NQ11+ms0e7MIQ6IIFNtTjyPn+a1iGWMyzZQxWekWsa2urp5us7Ky0NLSIl4vilyIbSTskzavUR07
GBFp+LqWKCykGThvhHMlZoUJx15Ohdl0Zx24N80CozESdXV1GBsbQ0VFBQYGBmCMikTxkVR0thah
6v0DiHlI/bF8iWiXzdMhAx3VdadixWwBeczeffCYRywlAtpSH8Po6CiKi4vR398v+sdu/Iv2Hy4h
iojpC18iVsqWCyl03aF+RTjWw31ONh7hPz4LmLRd8WKrhPBbrzyN9Y88gI7Oi8grrMWt8dte+2sJ
Z7WMWeiljxUz4tK2FHOUWLyxOXEVSTKs+NlIMncGWT8/Kd0v1pX0kKL43Vav/bWISEsWT4UTTSJ0
NnIe7rGQsrQgt94EDx0CRqGR/Xs3iu2ObevEXcyD0UY0VOXhCSKueekir3217ljobHQ/saEC5kJK
Khx8H4uNINzJx4m3EYFMLV3SdpKQJocUFvmYjLLMuAg1H2V77mDAoZmP2qBCeZqNyi6G7lLUwp4n
VoQwFNLuMNH2HiKIXWM3sjYmeM3C00wJRa4vrML1oor+JRaXax5zkFSEaw6yfDClCCVUwGh7masr
XCLOG4RBhwUR4hs/FsHBk0NJu/ubPspd8fKevLgyYZIkNYYhezlB+8t7ATUke5SREA7LwYiOjo6O
jo6Ojo6Ojgr/AQ1QqYfvM3W5AAAAAElFTkSuQmCC" />
									</td>
								</tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
										Hi,<br><br>

Please verify your email address by clicking the link below.
									</td>
								</tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
										<a href="" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #18171C; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #FFD00B; margin: 0; border-color: #FFD00B; border-style: solid; border-width: 10px 20px;">Confirm email address</a>
									</td>
								</tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
										&mdash; Rai
									</td>
								</tr></table></td>
					</tr></table><div class="footer" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
					<table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">Follow <a href="http://twitter.com/mail_gun" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">@Mail_Gun</a> on Twitter.</td>
						</tr></table></div></div>
		</td>
		<td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
	</tr></table></body>
</html>`